<h1>Create new service</h1>

<%= form_with model: @service do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: 'true' %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>