<h4>Search results for '<%= @query %>':</h4>

<% if @organizations_by_name %>
  <% @organizations_by_name.each do |organization| %>
    <div>
      <h5><%= link_to organization.name, organization_path(organization.id) %></h5>
    </div>
  <% end %>
<% end %>

<% if @organizations_by_services_hash %>
  <% @organizations_by_services_hash.keys.each do |organization| %>
    <div>
        <h5><%= link_to organization.name, organization_path(organization.id) %></h5>
        <% @organizations_by_services_hash[organization].each do |service| %>
          <li style="padding-left: 10px;">
            <% organization_service = organization.organization_services.find_by(service_id: service.id) %>
            <%= link_to service.name, new_organization_service_reservation_path(organization_service) %>
          </li>
        <% end %>
    </div>
  <% end %>
<% end %>
