<h1>Create new reservation</h1>

<div id="available-time-container">
  <%= render partial: 'available_time_form' %>
</div>

<div id="book-time-container">
</div>

<%= javascript_pack_tag 'reservations' %>