<h1><%= @organization.name %></h1>

<div>Description</div>

<% unless @organization.organization_services.empty? %>
  <p>Available services:</d>
  <% @organization.organization_services.each do |org_service| %>
    <div>
      <%= org_service.service.name %>
      <%= link_to 'book time', new_reservation_path(organization_service_id: org_service.id) %> <!-- delete local param when configure proper routing -->
    </div>
  <% end %>
<% else %>
  <p>Currently there are no available services</p>
<% end %>
